<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>НОЖЕЯР</title>
    <link type="img" rel="icon" href="../../static/img/logo.png">

</head>
<body class="body" style="background: linear-gradient(0.25turn, #9ad96a, #ebf8e1, #ff7538)">
<h3 style="text-align: center">Личный кабинет администратора</h3>

<div class="outBtn">
    <form th:method="POST" th:action="@{/logout}">
        <input style="padding: 11px 16px;" class="out" type="submit" value="Выйти из личного кабинета">
    </form>
</div>

<div class="grid">
    <div class="item">
        <a style="text-decoration: none" href="/admin/product/add">Добавить товар</a>
    </div>
    <div class="item">
        <a style="text-decoration: none" href="/admin/person">Пользователи</a>
    </div>
    <div class="item">
        <a style="text-decoration: none;" href="/admin/orders">Заказы</a>
    </div>

</div>

<h3>Каталог товаров</h3>
    <div th:each="product : ${products}">

        <fieldset>
            <legend><p th:text="'Наименование: ' + ${product.getTitle()}"></p></legend>
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" alt="..." width="200px">
            <p th:text="'Описание: ' + ${product.getDescription()}"></p>
            <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
            <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
            <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
            <p class="price" th:text="'Цена: ' + ${product.getPrice()} + ' ₽'" style="color: crimson"></p>
                    <a class="nav-link active" aria-current="page"
                       th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товар</a>
            <br>
                    <a class="nav-link active" aria-current="page"
                       th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>
        </fieldset>
    </div>
</body>
</html>