<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
  <title>НОЖЕЯР</title>
  <link type="img" rel="icon" href="../../static/img/logo.png">
</head>
<body style="background: linear-gradient(0.25turn, #9ad96a, #ebf8e1, #ff7538)">
<a style="padding:20px" class="label" href="/admin">Назад</a>
<div class="info" style="max-width: 600px">
<form th:method="POST" th:action="@{/admin/orders/{id}(id=${info_order.getId()})}" th:object="${info_order}">

  <div th:each="order:${info_order}">
    <p th:text="${info_order.getNumber()}"></p>
    <p th:text="${info_order.getStatus()}"></p>

    <label for="status" >Выберите статус: </label>
    <select id="status" name="status">
      <option th:each="state : ${T(com.example.springsecurityapplication.enumm.Status).values()}"
              th:value="${state}" th:text="${state}"></option>
    </select>
    <button type="submit">Редактировать</button>
    <p th:text="${info_order.getProduct().getTitle()}"></p>
  </div>

</form>
</div>
</body>
</html>