<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>НОЖЕЯР</title>
    <link type="img" rel="icon" href="../../static/img/logo.png">
</head>
<body class="body" style="font-size: 25px; background: linear-gradient(0.25turn, #9ad96a, #ebf8e1, #ff7538)">
<a style="padding:20px" class="label" href="/admin">Назад</a>
<form th:method="POST" th:action="@{/admin/orders/search}">
    <h4 style="text-align: center">Поиск по четырем последний символам</h4>
    <div>
    <label for="search">Поиск по наименованию</label>
    <input name="value" type="search" id="search">
    </div>
    <input class="input_style" type="submit" value="Поиск">

<br>
<div th:each="order : ${search_order}">
    <h3>Результат поиска:</h3>
    <p th:text="'Номер заказа: ' + ${order.getNumber()}"></p>
</div>
</form>
<!--не отображаются результаты-->
<h4 style="text-align: center">Информация о сделанных заказах</h4>
    <table style="margin: auto; border-spacing: 70px 10px">
        <thead>
        <tr>
            <th>id</th>
            <th>Номер</th>
            <th>Состояние</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order:${orders}">
            <td><a style="color: darkred; text-decoration: none" th:href="@{/admin/orders/{id}(id=${order.getId()})}" th:text="${order.getId()}"></a></td>
            <td  th:text="${order.getNumber()}"></td>
            <td  th:text="${order.getStatus()}"></td>
            <td  th:text="${order.getPrice()}"></td>
        </tr>
        </tbody>
    </table>



</body>
</html>