<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>НОЖЕЯР</title>
    <link type="img" rel="icon" href="../../static/img/logo.png">
</head>
<body  style="background: linear-gradient(0.25turn, #9ad96a, #ebf8e1, #ff7538)">
<a style="padding:20px" class="label" href="/index">Назад</a>
<div style="display: flex; justify-content: center">
    <h3>Корзина товаров</h3>
</div>

<div class="container1">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div style="justify-content: center" th:each="product : ${cart_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить</a>
</div>
    </div>
</div>
<div style="margin: 20px">
<h3 th:text="'Итоговая цена: ' + ${price}"></h3>
<a href="/order/create">Оформить заказ</a>
</div>
</body>
</html>