<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>НОЖЕЯР</title>
    <link type="image" rel="icon" href="../static/img/logo.png">
</head>
<body style="background: linear-gradient(0.25turn, #9ad96a, #ebf8e1, #ff7538)">
<div class="grid_links">
    <a class="link" href="/auth/registration">Регистрация</a>
    <a class="link" href="/product">Просмотр товаров</a>
</div>

<fieldset style="margin: 0 auto; max-width: 400px ">
        <legend><h2>Авторизация</h2></legend>
        <form method="post" action="/process_login">
                <input type="hidden" th:name="${_csrf.parameterName}"th:value="${_csrf.token}">
                <input type="text" name="username" id="username"  placeholder="Логин" >
                <label for="username">Логин</label>
            <br>
                <input type="password" name="password" id="password" placeholder="Введите пароль">
                <label for="password">Пароль</label>

            <div th:if="${param.error}" style="color: red">
                Неправильный логин или пароль
            </div>
            <br>
            <a href="#">
                <input class="BTN" type="submit" value="Войти">
            </a>
        </form>
</fieldset>
</body>
</html>