<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>НОЖЕЯР</title>
  <link type="img" rel="icon" href="../static/img/logo.png">
</head>

<body style="background: linear-gradient(0.25turn, #9ad96a, #ebf8e1, #ff7538)">
<a style="padding:20px" class="label" href="/admin">Назад</a>
<div style="display: flex; justify-content: center; padding: 20px">
  <h4 >Смена пароля для пользователя</h4>
</div>



<form method="post" th:action="@{/auth/password/change}" th:object="${person}">
  <div style="margin: 20px">
  <label for="login">Введите свой логин: </label>
  <input type="text" th:field="*{login}"  name="username" id="login">
  </div>

  <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>

  <div style="margin: 20px">
  <label for="password">Введите новый пароль: </label>
  <input type="password" th:field="*{password}"  name="password" id="password">
  </div>

  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

  <button type="submit" onclick="alert('Новый пароль принят')">Изменить пароль</button>

  <div th:if="${param.error}" style="color: red">
    Вы ввели неправильный логин или пароль
  </div>

  </div>

</form>
</body>
</html>
