<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>НОЖЕЯР</title>
  <link type="img" rel="icon" href="../static/img/logo.png">
</head>
<body style="background: linear-gradient(0.25turn, #9ad96a, #ebf8e1, #ff7538)">
<h3>Смена пароля</h3>
<form method="post" action="@{/auth/updatePassword}" th:object="${person}">
  <label for="login">Введите логин: </label>
  <input style="color: red" type="text" th:field="*{login}" placeholder="Введите логин" name="username" id="login" >
  <br>
  <label for="password">Введите пароль: </label>
  <input type="password" th:field="*{password}" placeholder="Введите пароль" name="password" id="password">
  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></div>
</form>

</body>
</html>